@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(23, 88, 111);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
.home,
.about,
.booking,
.login,
.contactus{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px){
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
        }
.nav-links{
    display: none;
}
.nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(23, 88, 111);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
}
.home,
.about,
.booking,
.login,
.contactus{
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
}

.mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: rgb(23, 88, 111);
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
 }
}