.img-container {
    background-image: url("pitx-facade.png");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(155, 155, 155, 0);
}

.card-container {
    padding: 5%;
    border: none;
    box-shadow: #cccccc;
    background-color: rgba(255,255,255,0.9);
}

.text-color {
    color: #1d439b;
}

.welcome-txt {
    font-weight: bolder;
}

.card-ftr {
    border: none;
    background-color: transparent;
}

.book-now-btn {
    background-color: #1d439b;
    border-color: #1d439b;
    color: #fff;
}