.body {
    color: #414042;
}
.first-section {
    padding: 5%;
}

.terminal-img {
    width: 100%;
    height: auto;
    padding-top: 2%;
}

.vehicles {
    width: 100%;
    height: 150px;
    padding: 3% 17%;
    margin-bottom: 5%;
    color: #414042;
}

.second-section {
    padding: 5%;
    background-color: #f8f5f5;
}

.txt-bolder {
    font-weight: bold;
}

.shops-content {
    padding: 5% 0;
}

.cards {
    border: none;
    padding: 2%
}